
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow authenticated users to read and write to the clubs collection
    match /clubs/{clubId} {
      allow read, write: if request.auth != null;
    }
    
    // Allow users to create their own user document, and read/update it.
    // No one else can see other user's documents.
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
  }
}
