rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow read access to club logos for anyone
    match /clubs/{clubId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && (
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Site Admin' ||
        (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Club Admin' && 
         get(/databases/$(database)/documents/users/$(request.auth.uid)).data.primaryClubId == clubId)
      );
    }

    // Allow read access to match images for anyone
    match /matches/{matchId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null; // Allow any authenticated user to upload
    }
    
    // Allow read access to help documents for anyone
    match /help_documents/{allPaths=**} {
        allow read: if true;
        allow write: if request.auth != null &&
            get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Site Admin';
    }
    
     // Allow read access to blog media for anyone
    match /blog_media/{clubId}/{postId}/{allPaths=**} {
       allow read: if true;
       allow write: if request.auth != null && (
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Site Admin' ||
        (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Club Admin' && 
         get(/databases/$(database)/documents/users/$(request.auth.uid)).data.primaryClubId == clubId)
      );
    }
    
  }
}
