rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Grant read, create, and delete access on any file inside the 'matches' folder
    // to any user who is signed in to the application.
    match /matches/{matchId}/{allPaths=**} {
      allow read, create, delete: if request.auth != null;
    }
  }
}
