
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isSiteAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Site Admin';
    }
    
    function isClubAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Club Admin';
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if request.auth.uid == userId || isSiteAdmin(); 
    }

    match /clubs/{clubId} {
      allow read: if isSignedIn();
      allow write: if isSiteAdmin() || 
                    (isClubAdmin() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.primaryClubId == clubId);
    }
    
    match /series/{seriesId} {
        allow read: if isSignedIn();
        allow write: if isSiteAdmin() ||
                     (isClubAdmin() && get(/databases/$(database)/documents/clubs/$(request.resource.data.clubId)).exists);
    }

    match /matches/{matchId} {
      allow read: if isSignedIn();
      allow create: if isSiteAdmin() || 
                     (isClubAdmin() && request.resource.data.clubId == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.primaryClubId);
      allow update: if isSiteAdmin() || 
                     (isClubAdmin() && resource.data.clubId == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.primaryClubId);
      allow delete: if isSiteAdmin() || 
                     (isClubAdmin() && resource.data.clubId == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.primaryClubId);
    }
    
    match /results/{resultId} {
      allow read: if isSignedIn();
      allow write: if isSiteAdmin() ||
                    (isClubAdmin() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.primaryClubId == request.resource.data.clubId);
    }
    
     match /helpDocuments/{documentId} {
      allow read: if isSignedIn();
      allow write: if isSiteAdmin();
    }
    
    match /Standard_Texts/{textId} {
        allow read: if isSignedIn();
        allow write: if isSiteAdmin() || 
                      (isClubAdmin() && request.resource.data.clubId == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.primaryClubId);
    }

    match /publicMatches/{matchId} {
      allow read: if true;
      allow write: if isSiteAdmin() || 
                    (isClubAdmin() && request.resource.data.clubId == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.primaryClubId);
    }

    match /publicUpcomingMatches/{matchId} {
        allow read: if true;
        allow write: if isSiteAdmin() || 
                      (isClubAdmin() && request.resource.data.clubId == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.primaryClubId);
    }
  }
}
