
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to get the primary club ID of the requesting user
    function getRequestingUserClubId() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.primaryClubId;
    }

    // Default deny all reads and writes
    match /{document=**} {
      allow read, write: if false;
    }

    // Users can always read and write their own document
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;

      // Allow a user to list other users only if they are querying for users
      // within their own primary club.
      allow list: if request.auth != null &&
                   request.query.limit <= 30 && // Add a limit to prevent large queries
                   request.query.offset == null && // Disallow offsets for simplicity for now
                   request.query.orderBy == null && // Disallow ordering for now
                   request.resource.data.primaryClubId == getRequestingUserClubId();
    }
    
    // Allow reading clubs
    match /clubs/{clubId} {
        allow read: if request.auth != null;
    }
    
    // Allow reading series
    match /series/{seriesId} {
        allow read: if request.auth != null;
    }

    // Allow reading matches
    match /matches/{matchId} {
        allow read: if request.auth != null;
    }
    
    // Allow reading results
    match /results/{resultId} {
        allow read: if request.auth != null;
    }
    
    // Admins can create/edit clubs
    match /clubs/{clubId} {
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Site Admin';
    }
    
     // Admins can create/edit series
    match /series/{seriesId} {
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['Site Admin', 'Club Admin'];
    }
    
    // Admins or marshals can edit matches
    match /matches/{matchId} {
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['Site Admin', 'Club Admin', 'Marshal'];
    }
    
    // Admins or marshals can edit results
    match /results/{resultId} {
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['Site Admin', 'Club Admin', 'Marshal'];
    }
  }
}
